.navbar {
  background-color: rgba(255, 255, 255, 0.9) !important; 
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);  
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);  
  backdrop-filter: blur(10px);  
  padding: 0;  
  border-radius: 8px;
  height: 80px;
}

.navbar .navbar-brand {
  color: #333 !important;  
  font-weight: bold;
  font-size: 1.8rem;
  transition: color 0.3s ease; 
  margin-left: 0 !important; 
  padding-left: 20px; /* Adjust this value if needed */
}

.navbar .navbar-brand:hover {
  color: #335e8b !important;  
}

.nav-link {
  font-size: 1.2rem;
  color: #555 !important; 
  transition: color 0.3s ease;  
}

.nav-link:hover {
  color: #000 !important;  
}

.navbar h6 {
  margin-top: 0;
  color: #555 !important;  
  transition: color 0.3s ease;
}

.navbar h6:hover {
  color: #000 !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

.btn-danger {
  background-color: #e74c3c !important;  
  border-color: #e74c3c !important;
  transition: background-color 0.3s ease, border-color 0.3s ease;  
  border-radius: 20px;  
}

.btn-danger:hover {
  background-color: #c0392b !important;  
  border-color: #c0392b !important;
}

.container-fluid {
  max-width: 1200px;  
  margin: 0 auto; 
}
